<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quick Sort Algorithm</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Quick Sort</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">¿Qué es?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">ventajas y desventajas</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#execution">TIEMPO DE EJECUCIÓN</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#code">Codigo</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
             <div class="col-lg-12">
               <p>
                  <h2 class="section-heading">Simulación del algoritmo</h2>
               </p>
            </div>
            <div class="header-content-inner">
                <div class="col-lg-12">
                    <div>
                        <canvas id="sortcanvas"  height="600px"></canvas>
                    </div>
                </div>
            </div>
             <div class="col-lg-12">
                 <p>
                  <h2 class="section-heading">Comparacion: <span id="compCt">0</span></h2>     
                 </p>
                 <p>
                 <h2 class="section-heading">Copias: <span id="moveCt" >0</span></h2>
                </p>
             </div>
            <div class="col-lg-12">
                <button class="btn btn-default btn-xl sr-button" id="newBtn">Nuevo</button>
                <button class="btn btn-default btn-xl sr-button" id="runBtn">Correr</button>
                <button class="btn btn-default btn-xl sr-button" id="pauseBtn" disabled="disabled">Pausar</button>
                <button class="btn btn-default btn-xl sr-button" id="stepBtn">Paso a paso</button>
                <input type="checkbox" id="fastCheckbox" hidden><label for="fastCheckbox" style="display:none">Rapido</label>
             </div>
        </div>


    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">¿QUÉ ES?</h2>
                    <hr class="light">
                    <p class="section-heading" style="text-align:justify " >QuickSort  es un algoritmo basado en la técnica de  divide y vencerás  que permite en promedio ordenar n elementos en un tiempo proporcional a   O(n log (n)).  Este método obtiene  un elemento la lista llamado pivote,  una vez seleccionado  se  ha de buscar una forma de situar en  la  sublista izquierda todos los elementos menores que el pivote y en la sublista derecha todos los elementos mayores  que el pivote. </p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">VENTAJAS  Y  DESVENTAJAS</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-smile-o text-primary sr-icons"  style="color:#FF4081"></i>
                        <h3>VENTAJAS</h3>
                         <ul class="list-vd">
                             <li><p class="text-muted" style="text-align:justify ">Muy rápido</p></li>
                         </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-frown-o text-primary sr-icons" style="color:#FF4081"></i>
                        <h3>DESVENTAJAS</h3>
                        <ul class="list-vd">
                            <li><p class="text-muted" style="text-align:justify ">Implementación un poco más complicada.</p></li>
                            <li><p class="text-muted" style="text-align:justify ">Recursividad (utiliza muchos recursos).</p></li>
                            <li><p class="text-muted" style="text-align:justify ">Mucha diferencia entre el peor y el mejor caso.</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="bg-primary" id="execution">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">TIEMPO DE EJECUCIÓN</h2>
                    <hr class="light">
                       <div class="row row-my">
                        <div class="col-md-3"><p class="section-heading" style="text-align:justify ">Peor de los casos.</p></div>
                        <div class="col-md-2"><p class="section-heading">O(n<sup>2</sup>)</p></div>                        
                        <div class="col-md-7"><p class="section-heading" style="text-align:justify ">En el peor de los casos se presenta cuando el pibote siempre se inclina 
                        hacia un lado, es decir, genera una array de solo un 1 elemento y una 
                        segunda con el resto de elementos.</p></div>
                      </div>
                      <div class="row row-my">
                        <div class="col-md-3"><p class="section-heading" style="text-align:justify ">Caso promedio.</p></div>
                        <div class="col-md-2"><p class="section-heading">O(n log(n))</p></div>
                        <div class="col-md-7"><p class="section-heading" style="text-align:justify ">En el caso promedio tiene  un costo de 
                        O(n log(n)). Se produce cuando el pibote se inclina más hacia 
                        un lado y los 2 subarrays tienen disitinto tamaño de elementos.</p></div> 
                      </div>
                      <br>
                      <div class="row row-my">
                        <div class="col-md-3"><p class="section-heading" style="text-align:left ">El mejor de los casos.</p></div>
                        <div class="col-md-2"><p class="section-heading">O(n log(n))</div>                       
                        <div class="col-md-7"><p class="section-heading" style="text-align:justify ">Se presenta cuando el pibote siempre queda
                        al medio del arreglo. </p></div>
                      </div>
                       <div class="col-md-12">
                          <i class="fa fa-5x fa-clock-o text-primary sr-icons" style="color:#FF4081" ></i>
                       </div>
                </div>
               
            </div>
        </div>
    </section>

    <section id="code">
        <div class="container">
            <div class="row">
                <div class="header-content-inner">
                      <div class="col-lg-8 col-lg-offset-2 text-center">
                         <h2 class="section-heading">CODIGO</h2>
                         <hr class="light">
                      </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div >
                             <img src="img/laptop.png" class="img-responsive" alt=""align="middle">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center ">
                        <div >
                             <h2 class="section-heading" style="text-align:left "><font color="red"><a href="https://rosettacode.org/wiki/Sorting_algorithms/Quicksort#Java" target="_blank">JAVA</a></font></h2>
                              <h2 class="section-heading" style="text-align:left "><font color="yellow"><a href="https://rosettacode.org/wiki/Sorting_algorithms/Quicksort#C" target="_blank">C</a></font></h2>
                              <h2 class="section-heading" style="text-align:left "><font color="yellow"><a href="https://rosettacode.org/wiki/Sorting_algorithms/Quicksort#C.23" target="_blank">C#</a></font></h2>
                              <h2 class="section-heading" style="text-align:left "><font color="yellow"><a href="https://rosettacode.org/wiki/Sorting_algorithms/Quicksort#JavaScript" target="_blank">JavaScript</a></font></h2>
                              <h2 class="section-heading" style="text-align:left "><font color="yellow"><a href="https://rosettacode.org/wiki/Sorting_algorithms/Quicksort#PHP" target="_blank">PHP</a></font></h2>
                              <h2 class="section-heading" style="text-align:left "><font color="yellow"><a href="https://rosettacode.org/wiki/Sorting_algorithms/Quicksort#Python" target="_blank">Python</a></font></h2>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6 text-center ">
                        <div >
                             <h2 class="section-heading" style="text-align:left "><font color="red"><a href="https://rosettacode.org/wiki/Sorting_algorithms/Quicksort#Ruby" target="_blank">Ruby</a></font></h2>
                              <h2 class="section-heading" style="text-align:left "><font color="yellow"><a href="https://rosettacode.org/wiki/Sorting_algorithms/Quicksort#360_Assembly" target="_blank">360 Assembly</a></font></h2>
                              <h2 class="section-heading" style="text-align:left "><font color="yellow"><a href="https://rosettacode.org/wiki/Sorting_algorithms/Quicksort#C.2B.2B" target="_blank">C++</a></font></h2>
                              <h2 class="section-heading" style="text-align:left "><font color="yellow"><a href="https://rosettacode.org/wiki/Sorting_algorithms/Quicksort#Objective-C" target="_blank">Objective-C</a></font></h2>
                              <h2 class="section-heading" style="text-align:left "><font color="yellow"><a href="https://rosettacode.org/wiki/Sorting_algorithms/Quicksort#MATLAB" target="_blank">MATLAB</a></font></h2>
                              <h2 class="section-heading" style="text-align:left "><font color="yellow"><a href="https://rosettacode.org/wiki/Sorting_algorithms/Quicksort#Icon_and_Unicon" target="_blank">Icon and Unicon</a></font></h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Descargar simulacion en Java y Android</h2>
                <div class="col-lg-6 text-center">
                    <a href="simulation/desktop-1.0.jar" class="btn btn-default btn-xl sr-button" target="_self">Java!</a>
                </div>
                <div class="col-lg-6 text-center">
                    <a href="simulation/quicksort.apk" class="btn btn-default btn-xl sr-button" target="_self">Android!</a>
                </div>
                
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <h2 class="section-heading">EQUIPO</h2>
                    <p>Flores Guzman Pedro Eduardo</p>
                    <p>Casas Vazquez Francisco Javier</p>
                    <hr class="primary">
                </div>
                 <div class="col-lg-4  text-center">
                    <h2 class="section-heading">RECURSOS</h2>
                    <hr class="primary">
                    <a href="https://github.com/EdwardCraft/QuickSort" target="_blank"><i class="fa fa-4x fa-github" aria-hidden="true"></i></a>
                    <a href="https://github.com/EdwardCraft/QuickSort-simulation-in-java" target="_blank"><i class="fa fa-4x fa-file-code-o" aria-hidden="true"></i></a>
                    <a href="simulation/Quick_Sort.pptx.pdf" target="_blank"><i class="fa fa-4x fa-file" aria-hidden="true"></i></i></a>
                </div>
                 <div class="col-lg-4  text-center">
                    <h2 class="section-heading">ACERCA DEL PROYECTO</h2>
                    <hr class="primary">
                    <p>Materia: Algoritmos y Estructura de Datos</p>
                    <p>Profesora: </p>
                    <p>Ing. Alma Leticia Palacios Guerrero</p>
                    <p>Universidad Autonóma de Baja California</p>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">

            </div>
        </div>
    </aside>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>

    <!-- Sorting Method JavaScript-->
    <script src="js/main.js"></script>

</body>

</html>
